
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="panel">
    <header class="panel-heading">
        Chi tiết thông tin đơn hàng
    </header>
    <div class="panel-body">
        <ul class="nav nav-pills nav-tabs">
            <li class="active"><a data-toggle="pill" href="#home">Đơn hàng</a></li>
            <li class=""><a data-toggle="pill" href="#menu1">Khách hàng</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade active in">
                <br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Hình
                            </th>
                            <th>
                                Tên sản phẩm
                            </th>
                            <th>
                                Giá gốc
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Giảm giá
                            </th>
                            <th>
                                Thành tiền
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="/Uploads/Images/Products/27/gcn1.jpg" style="width: 80px">
                            </td>
                            <td>
                                Giày Converse Classic thấp cổ trắng - size:38
                            </td>
                            <td>
                                200,000 đ
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                0 %
                            </td>
                            <td>
                                200,000 đ
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" style="text-align:right">
                                <strong>Tổng cộng</strong> :
                            </td>
                            <td>
                                200,000 đ
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <div id="menu1" class="tab-pane fade">
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <section class="panel">
                            <header class="panel-heading">
                                Thông tin người đặt hàng
                            </header>
                            <table class="table">
                                <tbody>
                                    <tr class="danger">
                                        <th>Tên</th>
                                        <td>
                                            Nguyễn Anh Tú
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Địa chỉ</th>
                                        <td>
                                            289c Quốc lộ 1A phường Bình Chiểu
                                        </td>
                                    </tr>
                                    <tr class="danger">
                                        <th>Số điện thoại</th>
                                        <td>
                                            0907042323
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>
                                            tu.lqd.163@gmail.com
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                    <div class="col-sm-6">
                        <section class="panel">
                            <header class="panel-heading">
                                Thông tin người nhận
                            </header>
                            <table class="table table-striped">
                                <tbody>
                                    <tr class="success">
                                        <th>Tên</th>
                                        <td>
                                            Nguyễn Anh Tú
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Địa chỉ</th>
                                        <td>
                                            289c Quốc lộ 1A phường Bình Chiểu
                                        </td>
                                    </tr>
                                    <tr class="success">
                                        <th>Số điện thoại</th>
                                        <td>
                                            0907042323
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>
                                            tu.lqd.163@gmail.com
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-heading">
        <a class="btn btn-info" href="/ManageOrders">Quay lại</a>
    </div>

</section>