
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="panel">
    <header class="panel-heading">
        Chi tiết thông tin don hàng
    </header>
    <div class="panel-body">
        <ul class="nav nav-pills nav-tabs">
            <li class="active"><a data-toggle="pill" href="#home">Ðơn hàng</a></li>
            <li><a data-toggle="pill" href="#menu1">Khách hàng</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Hình
                            </th>
                            <th>
                                Tên sản phẩm
                            </th>
                            <th>
                                Giá gốc
                            </th>
                            <th>
                                Số luợng
                            </th>
                            <th>
                                Giảm giá
                            </th>
                            <th>
                                Thành tiền
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="/Uploads/Images/Products/27/gcn1.jpg" style="width: 80px">
                            </td>
                            <td>
                                Giày Converse Classic thấp cổ trắng - size:38
                            </td>
                            <td>
                                200,000 d
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                0 %
                            </td>
                            <td>
                                200,000 d
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" style="text-align:right">
                                <strong>Tổng cộng</strong> :
                            </td>
                            <td>
                                200,000 d
                                </

