
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="panel">
    <header class="panel-heading">
        Chỉnh sửa thông tin liên hệ
    </header>
    <div class="panel-body">
        <form action="/ManageContacts/Edit/1" method="post">
            <input name="__RequestVerificationToken" type="hidden" value="fHRSDW7bMX-nGXUen8Aa_sUFKhQvotA9OrXctapKCJhGlE1x07BMvJlJ6eNsnLq2sJjMVHeggYOCJTW-9Ssgj-GMIQSp0LDJRva4QusisZQAu-3k36_2SC7uUx3acad6y7t903650TxTBYKO5p0Pww2">            <div class="form-horizontal">


                <input id="Id" name="Id" type="hidden" value="1">

                <div class="form-group">
                    <label class="control-label col-lg-2 col-sm-2" for="NameCompany">NameCompany</label>
                    <div class="col-lg-10">
                        <input class="form-control text-box single-line" id="NameCompany" name="NameCompany" type="text" value="DOWNYSHOES">

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2 col-sm-2" for="Address">Address</label>
                    <div class="col-lg-10">
                        <input class="form-control text-box single-line" id="Address" name="Address" type="text" value="Đại học Văn Lang">

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2 col-sm-2" for="Phone">Phone</label>
                    <div class="col-lg-10">
                        <input class="form-control text-box single-line" id="Phone" name="Phone" type="number" value="907042323">

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2 col-sm-2" for="Email">Email</label>
                    <div class="col-lg-10">
                        <input class="form-control text-box single-line" id="Email" name="Email" type="text" value="tu.lqd.163@gmail.com">

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2 col-sm-2" for="AddressWeb">AddressWeb</label>
                    <div class="col-lg-10">
                        <input class="form-control text-box single-line" id="AddressWeb" name="AddressWeb" type="text" value="">

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2 col-sm-2" for="AddressSocial">AddressSocial</label>
                    <div class="col-lg-10">
                        <input class="form-control text-box single-line" id="AddressSocial" name="AddressSocial" type="text" value="">

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <input type="submit" value="LƯU" class="btn btn-danger">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="panel-heading">
        <a class="btn btn-info" href="/ManageContacts">Quay lại</a>
    </div>

</section>