
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="panel-body">
    <dl class="dl-horizontal">
        <dt>
            CategoryName
        </dt>

        <dd>
            Converse Nam
        </dd>

        <dt>
            Code
        </dt>

        <dd>
            G22516
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            Giày Converse Classic thấp cổ trắng
        </dd>

        <dt>
            Price
        </dt>

        <dd>
            200,000
        </dd>

        <dt>
            ImageUrl
        </dt>

        <dd>
            ~/Uploads/Images/Products/27/gcn1.jpg
        </dd>

        <dt>
            Size
        </dt>

        <dd>
            38, 39, 40, 41, 42, 43
        </dd>

        <dt>
            Discount
        </dt>

        <dd>
            0
        </dd>

        <dt>
            DisplayPosition
        </dt>

        <dd>
            NEW
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            ACTIVE
        </dd>

        <dt>
            CreatedDate
        </dt>

        <dd>
            8/31/2016 5:48:47 PM
        </dd>

        <dt>
            SortOrder
        </dt>

        <dd>
            0
        </dd>
    </dl>

    <form action="/ManageProducts/Delete/27" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="xg-zamjnt8RTmw7V83NFrkcBDS3qNpjhRa9GZv1n4xIpGGKJUQ4YN849bD3I_YQUVli5Ql8J7qcVB_TXLWCdMix97E4lBm7OViIEJydGwSKNSw0rH4EtUUKcvxcPD1b-nNQ8KBgbZNr-SlDAbVVHzA2">            <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger"> |
            <a class="btn btn-info" href="/ManageProducts">Quay lại</a>
        </div>
    </form>
</div>